AddDefaultCharset utf-8
RewriteEngine On
RewriteRule (.*) public/$1

#1.устанавливаем кодировку
#2.включаем механизм перенаправлений
#3.запоминаем первый запрос(что бы там не было) и отправлем в папку public