RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule (.*) index.php?$1 [L,QSA]

#1.условие перенаправления(если запрос не идет на конкретный существующий файл или папку)
#3.#тогда отправлем запрос методом GET(на файл index.php) который был запомнен
   #флаг L - last - последнее правило, другие правила работать не должны
   #флаг QSA - query string append - если будут дополнительные GET параметры(пагинация, поиск и тд.), то они не должны отбрасываться, а будут дополняться